.hight-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hight-text .underline {
  width: 400px;
  border-bottom: 5px dotted #c4b250;
}

.hight-text h2 {
  font-size: 95px;
  font-weight: 900;
  color: aliceblue;
}

.better {
  color: #c4b250;
}

body {
  background-color: #e7e1e1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*====== Back to home button ================= */
.back_to_home {
  display: none;
  position: fixed;
  bottom: .2%;
  right: 3%;
  z-index: 100;
}

.back_to_home i {
  font-size: 100px;
  color: black;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: color 0.3s, -webkit-transform .3s;
  transition: color 0.3s, -webkit-transform .3s;
  transition: color 0.3s, transform .3s;
  transition: color 0.3s, transform .3s, -webkit-transform .3s;
}

.back_to_home i:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 0.3s, -webkit-transform .3s;
  transition: color 0.3s, -webkit-transform .3s;
  transition: color 0.3s, transform .3s;
  transition: color 0.3s, transform .3s, -webkit-transform .3s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: auto;
  background-color: rgba(0, 0, 0, 0.678);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
  font-size: 21px;
  font-weight: 900;
  text-decoration: none;
  padding: 5px 15px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

nav ul li a:hover, nav ul li a:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 0.3s, -webkit-transform 1s;
  transition: color 0.3s, -webkit-transform 1s;
  transition: color 0.3s, transform 1s;
  transition: color 0.3s, transform 1s, -webkit-transform 1s;
  color: #c4b250;
}

nav ul li a i {
  font-size: 2.5em;
}

.header-left {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: black;
}

.header-left .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.438);
}

.header-left .cover .hight-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px dotted #c4b250;
}

.header-left .cover img {
  width: 600px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.header-left .cover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header-left .cover ul li {
  list-style-type: none;
}

.header-left .cover ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  text-decoration: none;
  font-weight: 900;
  margin: 0 35px;
  font-size: 33px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header-left .cover ul li a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header-left .cover ul li a i {
  font-size: 38px;
  margin-right: 8px;
}

.header-left img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  background-color: black;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .8;
      -ms-flex: .8;
          flex: .8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  background-position: center center;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity .3s, -webkit-box-flex .3s;
  transition: opacity .3s, -webkit-box-flex .3s;
  transition: flex .3s, opacity .3s;
  transition: flex .3s, opacity .3s, -webkit-box-flex .3s, -ms-flex .3s;
}

.slide:hover {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.slide.active {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  opacity: 1;
  -webkit-transition: opacity .3s, -webkit-box-flex .3s;
  transition: opacity .3s, -webkit-box-flex .3s;
  transition: flex .3s, opacity .3s;
  transition: flex .3s, opacity .3s, -webkit-box-flex .3s, -ms-flex .3s;
}

.img1 {
  background-image: url(house/house1.jpg);
}

.img2 {
  background-image: url(house/house2.jpg);
}

.img3 {
  background-image: url(house/house3.jpg);
}

.img4 {
  background-image: url(house/house4.jpg);
}

.img5 {
  background-image: url(house/house5.jpg);
}

.about-us-block {
  margin-top: 100px;
}

.about-us-block .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-block .left-side p {
  width: 75%;
  color: #3f3e3e;
  font-weight: 900;
  font-size: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 60px;
}

.about-us-block .right-side img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
}

.sluzby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.sluzby .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
}

.sluzby .service .service1, .sluzby .service .service2, .sluzby .service .service3, .sluzby .service .service4, .sluzby .service .service5, .sluzby .service .service6, .sluzby .service .service7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 450px;
  background-image: url(sluzby/section01.jpg);
  background-position: center center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
          box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.sluzby .service .service1:hover, .sluzby .service .service1:focus, .sluzby .service .service2:hover, .sluzby .service .service2:focus, .sluzby .service .service3:hover, .sluzby .service .service3:focus, .sluzby .service .service4:hover, .sluzby .service .service4:focus, .sluzby .service .service5:hover, .sluzby .service .service5:focus, .sluzby .service .service6:hover, .sluzby .service .service6:focus, .sluzby .service .service7:hover, .sluzby .service .service7:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sluzby .service .service1 h3, .sluzby .service .service2 h3, .sluzby .service .service3 h3, .sluzby .service .service4 h3, .sluzby .service .service5 h3, .sluzby .service .service6 h3, .sluzby .service .service7 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: aliceblue;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color .3s,text-shadow .3s;
  transition: background-color .3s,text-shadow .3s;
}

.sluzby .service .service1 h3:hover, .sluzby .service .service1 h3:focus, .sluzby .service .service2 h3:hover, .sluzby .service .service2 h3:focus, .sluzby .service .service3 h3:hover, .sluzby .service .service3 h3:focus, .sluzby .service .service4 h3:hover, .sluzby .service .service4 h3:focus, .sluzby .service .service5 h3:hover, .sluzby .service .service5 h3:focus, .sluzby .service .service6 h3:hover, .sluzby .service .service6 h3:focus, .sluzby .service .service7 h3:hover, .sluzby .service .service7 h3:focus {
  text-shadow: 5px 5px 10px #000;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color .3s, text-shadow .3s;
  transition: background-color .3s, text-shadow .3s;
}

.sluzby .service .service2 {
  background-image: url(sluzby/section02.jpg);
}

.sluzby .service .service3 {
  background-image: url(sluzby/section3.jpg);
}

.sluzby .service .service4 {
  background-image: url(sluzby/section4.jpg);
}

.sluzby .service .service5 {
  background-image: url(sluzby/section5.jpg);
}

.sluzby .service .service6 {
  background-image: url(sluzby/section6.jpg);
}

.sluzby .service .service7 {
  background-image: url(sluzby/section7.jpg);
}

.fotogaleria img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.fotogaleria img:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

/*====== MODAL BOX ==========*/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.7);
}

.kontakt .kontakt-left, .kontakt .kontakt-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.kontakt .kontakt-left {
  border-right: 5px dotted #c4b250;
}

.kontakt .kontakt-left ul li {
  list-style-type: none;
}

.kontakt .kontakt-left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f3e3e;
  text-decoration: none;
  font-size: 28px;
  font-weight: 900;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

.kontakt .kontakt-left ul li a:nth-child(1) {
  margin-top: 20px;
}

.kontakt .kontakt-left ul li a:hover {
  color: #000;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

.kontakt .kontakt-left ul li a i {
  font-size: 40px;
  padding-right: 15px;
}

.kontakt .kontakt-right a {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.kontakt .kontakt-right a:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #3f3e3e;
}

.footer a {
  color: aliceblue;
  text-decoration: none;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.footer a:hover {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (max-width: 576px) {
  .show-nav {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .imger {
    width: 90%;
  }
  .hight-text h2 {
    font-size: 75px;
  }
  .hight-text .underline {
    width: 265px;
  }
  .mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #3f3e3e;
    height: 80px;
    border-bottom: 1px dashed #fff;
  }
  .mobile-button i {
    color: aliceblue;
    font-size: 70px;
    cursor: pointer;
  }
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
  }
  nav ul li {
    width: 100%;
    border-bottom: 1px dashed #fff;
  }
  nav ul li:last-of-type {
    border: 0;
  }
  nav ul li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px 0;
  }
  nav ul li a i {
    padding-right: 24px;
  }
  .header-left .cover img {
    width: 330px;
    height: 120px;
  }
  .header-left .cover ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-left .cover ul li a {
    margin: 0;
    font-size: 29px;
  }
  .header-left .cover ul li a i {
    font-size: 48px;
    margin-right: 3px;
  }
  .header-right .slide:nth-of-type(1), .header-right .slide:nth-of-type(2) {
    display: none;
  }
  .about-us-block .right-side img {
    display: none;
  }
  .about-us-block .left-side p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sluzby .service {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .sluzby .service .service1, .sluzby .service .service2, .sluzby .service .service3, .sluzby .service .service4, .sluzby .service .service5, .sluzby .service .service6, .sluzby .service .service7 {
    width: 335px;
  }
  .fotogaleria img {
    height: 180px;
  }
  .fotogaleria .hight-text h2 {
    font-size: 50px;
  }
  .kontakt .kontakt-left {
    border-right: 0;
  }
  .kontakt .kontakt-left ul li a {
    font-size: 26px;
  }
  .kontakt .kontakt-right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kontakt .kontakt-right a img {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */