@import "scss/mixin";
@import "scss/variables";

// === VŠEOBECNÉ ========================

body {
    background-color: $bodyColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// ==== HEADER ========================

.header-left {

    background-attachment: fixed;

    img {
        width: 100%;
        height: $header-height;
        object-fit: cover;
    }
}


.header-right {
    display: flex;
    max-width: 100%;

}

.slide {
    display: flex; 
    flex: .8;
    flex-direction: column;
    
    height: $header-height;
    background-position: center center;
    cursor: pointer;
    
    }

.slide.active {
    flex: 3;
}

.img1 {
    background-image: url(house/house1.jpg);
}

.img2 {
    background-image: url(house/house2.jpg);
}

.img3 {
    background-image: url(house/house3.jpg);
}

.img4 {
    background-image: url(house/house4.jpg);
}

.img5 {
    background-image: url(house/house5.jpg);
}

