@import "scss/mixin";
@import "scss/variables";

// === VŠEOBECNÉ ========================
// * {
//     outline: 1px solid red;
// }

.hight-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .underline {
        width: 400px;
        border-bottom: 5px dotted $second-color;
    }

    h2 {
        font-size: 95px;
        font-weight: 900;
        color: $link-color;

    }
}

.better {
    color: $second-color ;
}

body {
    background-color: $bodyColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// === NAVIGACIA =====

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: auto;
    background-color: rgba(0, 0, 0, 0.678);

    ul {
        display: flex;
        flex-direction:row;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            flex-direction:row;
            list-style-type: none;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $link-color;
                font-size: 21px;
                font-weight: 900;
                // padding: 25px;
                text-decoration: none;
                padding: 5px 15px;
                transform: scale(.8);
                transition: color .3s, transform .3s;

                &:hover,&:focus {
                    transform: scale(1);
                    transition: color.3s, transform 1s;
                    color: $second-color;
                }

                i {
                    font-size: 2.5em;
                }

            }
        }
    }
}

// ==== HEADER ========================

.header-left {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: $cover-color;

    .cover {
        display: flex;
        flex-direction: column;
        // align-content: space-between;
        justify-content: space-evenly;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.438);

        .hight-text {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            border-bottom: 5px dotted $second-color;

            h1 {
                font-size: 55px;
                font-weight: 900;
                color: $link-color;

            }

        
        }

        img {
            width: 600px;
            height: 300px;

            align-self: center;
            object-fit: scale-down;
            
        }

        ul {
            display: flex;
            justify-content: center;
            padding: 0;

            li {
                list-style-type: none;

                a {
                    display: flex;
                    color: $link-color;
                    text-decoration: none;
                    font-weight: 900;
                    margin: 0 35px;
                    font-size: 23px;
                    transform: scale(.9);
                    transition: transform .3s;

                    &:hover {
                        transform: scale(1);
                        transition: transform .3s;
                    }
                    
                    i {
                        font-size: 38px;
                        margin-right: 8px;
                    }

                }
            }
           
        }
    }

    img {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: $header-height;
        object-fit: cover;
        background-position: center center;
    }

 

}


.header-right {
    display: flex;
    max-width: 100%;
    background-color: $cover-color;

}

.slide {
    display: flex; 
    flex: .8;
    flex-direction: column;
    
    height: $header-height;
    background-position: center center;
    cursor: pointer;
    opacity: .5;

    transition: flex .3s, opacity .3s;

        &:hover {
            opacity: 1;
            transition: opacity .3s;
        }
    
    }


.slide.active {
    flex: 3;
    opacity: 1;
    transition: flex .3s, opacity .3s;
}

.img1 {
    background-image: url(house/house1.jpg);
}

.img2 {
    background-image: url(house/house2.jpg);
}

.img3 {
    background-image: url(house/house3.jpg);
}

.img4 {
    background-image: url(house/house4.jpg);
}

.img5 {
    background-image: url(house/house5.jpg);
}

// === ABOUT US ==========================

.about-us-block {
    margin-top: 100px;

    .left-side {
        display: flex;
        flex-direction: column;
        // align-items: center;

        p {
            width: 75%;
            color: $text-color;
            font-weight: 900;
            font-size: 2em;
            align-self: flex-end;
            margin-top: 60px;
        }

        .hight-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 5px dotted $second-color;

            h2 {
                font-size: 95px;
                font-weight: 900;
                color: $link-color;
    
            }

        }

    }

    .right-side {


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: skewX(10deg);
        }

    }
}

// ==== SLUZBY BLOCK ===========

.sluzby {
    display: flex;
    margin-top: 100px;


    .service {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px ;

        .service1,.service2,.service3,.service4,.service5,.service6,.service7 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 450px;
            position: relative;
            background-image: url(sluzby/section01.jpg);
            background-position: center center;
            object-fit: contain;
            box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;

            transform: scale(.90);
            transition: transform .3s;

            cursor: pointer;

            &:hover,&:focus {
                box-shadow: none;
                transform: scale(1);
                transition: transform .3s;
            }

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: $link-color;
                font-weight: 900;
                font-size: 3em;
                text-align: center;
                margin: 0;
                background-color: rgba($color: #000000, $alpha: .5);

                transition: background-color .3s,text-shadow .3s;

                &:hover {
                    text-shadow: 5px 5px 10px #000;
                    background-color: rgba($color: #000000, $alpha: 0);
                    transition: background-color .3s, text-shadow .3s;
                }

            }
        }

        .service2 {
            background-image: url(sluzby/section02.jpg);
 
 
        }

        .service3 {
            background-image: url(sluzby/section3.jpg);

        }

        .service4 {
            background-image: url(sluzby/section4.jpg);

        }

        .service5 {
            background-image: url(sluzby/section5.jpg);

        }

        .service6 {
            background-image: url(sluzby/section6.jpg);

        }

        .service7 {
            background-image: url(sluzby/section7.jpg);

        }

    }
}

// == FOTOGALERIA ============================

.fotogaleria {

    img {  
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-position: center center;
    }
}

